<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Lend Another Book</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	
	<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="/static/lyv/js/skel.min.js"></script>
	<script src="/static/lyv/js/skel-layers.min.js"></script>
	<script src="/static/lyv/js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="/static/lyv/css/skel.css" />
		<link rel="stylesheet" href="/static/lyv/css/style.css" />
		<link rel="stylesheet" href="/static/lyv/css/style-xlarge.css" />
	</noscript>


	<link href="/static/lyv/css/easy-autocomplete.min.css" rel="stylesheet" type="text/css">
	<link href="/static/lyv/css/easy-autocomplete.themes.min.css" rel="stylesheet" type="text/css">
	<link href='//fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,600,600italic&amp;subset=latin,cyrillic-ext,greek-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
	<script src="/static/lyv/js/jquery-1.11.2.min.js"></script>
	<script src="/static/lyv/js/jquery.easy-autocomplete.min.js" type="text/javascript" ></script>

	<style>
	</style>
</head>

<body>
	<div id="wrapper">

	{% include "lyv/header.html" %}

		
		<!-- Three -->
			<section id="three" class="wrapper style3 special">
				<div class="container">
					<header class="major">
						<h1>Lend a Book</h1>
					</header>
				</div>
				<div class="container 50%">
					<form id="feedbackform" method="post">
					{% csrf_token %}
						<div class="row uniform" style="color: black; ">
							<div class="12u$">
								<input name="name" id="square" value="" placeholder="Name" type="text" style="width: 100%; display: ;"/>
							</div>
						</div>
						<div class="row uniform">
							<div class="6u 12u$(small)">
								<input name="condition" id="condition" value="" placeholder="Condition" type="text">
							</div>
							<div class="6u$ 12u$(small)">
								<input name="tfl" id="lending_duration" value="" placeholder="Lending Duration (in days)" type="text">
							</div>
						</div>
						<div class="row uniform">
							<div class="12u$">
								<input name="url" id="image_url" value="" placeholder="Image URL" type="text">
							</div>
							<div class="12u$">
								<textarea name="desc" id="description" placeholder="Description" rows="6"></textarea>
							</div>
							<div class="12u$">
								<ul class="actions">
									<li><input value="Submit" class="special big" type="submit"></li>
								</ul>
							</div>
						</div>
					</form>
					
				</div>
			</section>

			<script>
			$("#square").width($("$image_url").width());
			var options = {
				url: "static/lyv/books.json",
				getValue: "name",
				minCharNumber: 0,
				list: {
					match: {
						enabled: true
					},
					maxNumberOfElements: 8,
					hideOnEmptyPhrase: true
				},
				requestDelay: 500,
				theme: "square"
			};
			$("#square").easyAutocomplete(options);
			</script>
	</div>

{% include "lyv/footer.html" %}

</body>
</html>