<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>{{lenuser.user.first_name}}'s Profile</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	
	<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="/static/lyv/js/skel.min.js"></script>
	<script src="/static/lyv/js/skel-layers.min.js"></script>
	<script src="/static/lyv/js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="/static/lyv/css/skel.css" />
		<link rel="stylesheet" href="/static/lyv/css/style.css" />
		<link rel="stylesheet" href="/static/lyv/css/style-xlarge.css" />
	</noscript>

	<style>
	</style>
</head>

<body>
<div id="wrapper">
{% include "lyv/header.html" %}

<section id="two" class="wrapper style2 special">
		<div class="container">
		{% if self_profile %}
		<h1>Dashboard</h1>
		{% else %}
		<h1>{{lenuser.user.first_name}}&nbsp;{{lenuser.user.last_name}}'s Profile</h1>
		{% endif %}
		<div class="row">
			<div class="4u 12u$(medium) profileDetails">
				<p>
				<div class="profilePicture" style="background-image:url('{{lenuser.profile_pic_url}}')">
				</div>
				<br/><br/>
				<h3>{{lenuser.user.first_name}}&nbsp;{{ lenuser.user.last_name }}</h3>
				</p>
			</div>
			<div class="8u$ 12u$(medium)">
				<br/>
				<div class="profileActivity">
				<br>

				{% if userbooks %}
					{% if self_profile %}
						<h3>My books:</h3>
					{% else %}
						<h3>{{lenuser.user.first_name}}&nbsp;{{ lenuser.user.last_name }}'s books:</h3>
					{% endif %}
					<br/>
					{% for book in userbooks %}
					    <img src="{{book.image_url}}"/>
					    {{book.lending_time}}
					    {{book.condition}}
                        {% if not self_profile %}
                            <button onclick="document.location.href='/book/{{lenuser.id}}/{{book.orig_book.id}}';">Lend It!</button>
                        {% endif %}
					{% endfor %}
				{% else %}
					<br/>
					{% if self_profile %}
						<h3>You have no books available for lending.</h3>
						<a href="/lend" class="button big">Lend a Book</a>
					{% else %}
						<h3>{{lenuser.user.first_name}}&nbsp;{{ lenuser.user.last_name }} has no available books for lending.</h3>
					{% endif %}
				{% endif %}
				</div>
				<br/><br/>
			</div>
		</div>
		</div>
	</section>

 <div class="push"></div>

</div>
<div>
	{% include "lyv/footer.html" %}
</div>
</body>
</html>