<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ book.name }}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="/static/lyv/js/skel.min.js"></script>
		<script src="/static/lyv/js/skel-layers.min.js"></script>
		<script src="/static/lyv/js/init.js"></script>
		<script type='text/javascript' src='https://www.bing.com/mapspreview/sdk/mapcontrol?branch=release&callback=loadMapScenario' async defer></script>
		<script>
			var map;
			function loadMapScenario() {
			    map = new Microsoft.Maps.Map(document.getElementById('myMap'), {
			        credentials: 'AtiNL67ZpqYBWmnhCsdMCsdOpDP9WqLCTf239s4EvHgMjZUj-Jfa1BW4uaLq-MUa',
			        center: new Microsoft.Maps.Location(19.130742, 72.915930),
			        zoom: 10
			    });
			    var myLocationPin = new Microsoft.Maps.Pushpin(map.getCenter(), {
			    		color: 'blue',
			    		title: 'Arpan Banerjee',
			    		icon: 'https://scontent.xx.fbcdn.net/v/t1.0-1/p32x32/12250033_820059668116662_5292971314145053765_n.jpg?oh=abd658d0e39c353126d701f9c58a3084&oe=58CE873C'
	    			});
			    map.entities.push(myLocationPin);
			    Microsoft.Maps.Events.addHandler(myLocationPin, 'click', function() { 
			    	alert("ma ka lauda"); }
			    );
			    var NihalPin = new Microsoft.Maps.Pushpin(
			    	new Microsoft.Maps.Location(19.174, 72.745), {color: 'red'});
			    map.entities.push(NihalPin);
			}
			loadMapScenario();
		</script>

		<noscript>
			<link rel="stylesheet" href="/static/lyv/css/skel.css" />
			<link rel="stylesheet" href="/static/lyv/css/style.css" />
			<link rel="stylesheet" href="/static/lyv/css/style-xlarge.css" />
			<link rel="stylesheet" href="/static/lyv/css/font-awesome.min.css">
		</noscript>
		<style type="text/css">
			@import url("https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic");
			.signuptext {
				font-family: "Raleway", Helvetica, sans-serif;
			}
			.box a:hover{text-decoration: none;}
		</style>
	</head>

<body>
<div id="wrapper">
	{% include "lyv/header.html" %}

<br/> <br/>
		<section id="one" class="wrapper style1 special">
		<div class="container">
			<header class="major">
				<h2>{{book.name}}</h2>
				<img src="{{book.image_url}}">
				<br/><br/>
				{% if userbooks %}
					{% if userbooks|length == 1 %}
						{% for userbook in userbooks %}
							{% if userbook.user.user == request.user %}
								<h3>No lender around you at this moment.</h3>
							{%endif%}
						{%endfor%}
					{% else %}
					<h2>Lenders around you</h2>
					{% endif %}
				{% else %}
					<h3>No lender around you at this moment.</h3>
				{% endif %}
			</header>
			
			<!-- <div class="row 150%" style="display: flex">
				{% for userbook in userbooks %}
					{% if userbook.user.user != request.user %}
						<div class="4u 12u$(medium)">
							<section class="box">
								<a href="/book/{{userbook.user.id}}/{{userbook.orig_book.id}}"><h2>{{userbook.user.user.first_name}} {{userbook.user.user.last_name}}</h2>
								<img src="{{userbook.image_url}}" alt="some_text" style="width:100%;"/>
								<br/><br/>
								<h3>Condition: {{userbook.condition}}</h3>
								<h3>Status: {{userbook.status}}</h3>
								</a>
							</section>
						</div>
					{%endif%}
					{% if forloop.counter == 4 %}
			</div>			
			<div class="row 150%" style="display: flex">
					{%endif%}
				{% endfor %}
			</div> -->	
			<div class="row 150%" id='myMap' style='width: 100%; height: 100%;'></div> 
		</div>
	</section>
</div>
	{% include "lyv/footer.html" %}
	
</body>
</html>