<html lang="en">
	<head>
	<meta charset="UTF-8">
	<title>Notifications</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="/static/lyv/js/skel.min.js"></script>
	<script src="/static/lyv/js/skel-layers.min.js"></script>
	<script src="/static/lyv/js/init.js"></script>

	<noscript>
		<link rel="stylesheet" href="/static/lyv/css/skel.css" />
		<link rel="stylesheet" href="/static/lyv/css/style.css" />
		<link rel="stylesheet" href="/static/lyv/css/style-xlarge.css" />
		<link rel="stylesheet" href="/static/lyv/css/font-awesome.min.css">
	</noscript>
	<style type="text/css">
		@import url("https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic");
		.signuptext {
			font-family: "Raleway", Helvetica, sans-serif;
		}
	</style>

	<script type="text/javascript">
		function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie != '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = jQuery.trim(cookies[i]);
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
			var phoneNumber = 123;
			var message = "Call me";
			var notifid = 0;

		function getMessage() {
			console.log("messag " + notifid);
			phoneNumber = $("#phno").val();
			message = $("#message").val();
			$("#myModal").modal('hide');
			onclickaccept();
		}

		function generateOTP(notifid) {
			console.log("generateOTP " + notifid);
			var otp = String(Math.floor((Math.random() * 1000000)));
			document.getElementById("OTP").innerHTML=otp;
			document.getElementById("OTP").className += " alt";
			document.getElementById("OTP").disabled = true;

			$.ajax({
				beforeSend: function(xhr, settings) {
			        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
			            // Only send the token to relative URLs i.e. locally.
			            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
			        }
			     },
				url: "/request-handle",
				method: 'POST',
				data: {'notifid': notifid,
					   'action': 'generateOTP',
					   'otp': otp}
			}).done(function(data) {
				console.log(data);
			}).fail(function(a, b) {
				console.log(a);
				console.log(b);
			});
		}

		function confirmOTP(notifid, actual_otp) {
			entered_otp = document.getElementById('inputOTP').value;
			console.log(entered_otp + actual_otp);
			if (entered_otp == actual_otp) {
				alert("Transaction Complete");
				$.ajax({
					beforeSend: function(xhr, settings) {
						phoneNumber = $("#phno").val();
						message = $("#message").val();
				        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
				            // Only send the token to relative URLs i.e. locally.
				            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
				        }
				     },
					url: "/request-handle",
					method: 'POST',
					data: {'notifid': notifid,
						   'action': 'complete'}
				}).done(function(data) {
					console.log(data);
				}).fail(function(a, b) {
					console.log(a);
					console.log(b);
				});
				location.reload();
			} else {
				alert("Invalid OTP");
			}
		}

		function onclickaccept() {
			console.log("Accept " + notifid);
			$.ajax({
				beforeSend: function(xhr, settings) {
					phoneNumber = $("#phno").val();
					message = $("#message").val();
			        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
			            // Only send the token to relative URLs i.e. locally.
			            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
			        }
			     },
				url: "/request-handle",
				method: 'POST',
				data: {'notifid': notifid,
					   'action': 'accept',
					   'phno': phoneNumber,
					   'message': message}
			}).done(function(data) {
				console.log(data);
			}).fail(function(a, b) {
				console.log(a);
				console.log(b);
			});
		}

		function blabla(idnotif) {
				$("#myModal").modal('show');
				notifid = idnotif;
			}

		function onclickdecline(notifid) {
			console.log("Decline " + notifid);
			$.ajax({
				beforeSend: function(xhr, settings) {
					if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
					 // Only send the token to relative URLs i.e. locally.
					 xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
					}
				},
				url: "/request-handle",
				method: 'POST',
				data: {'notifid': notifid,
					   'action': 'decline'}
			}).done(function(data) {
				console.log(data);
			}).fail(function(a, b) {
				console.log(a);
				console.log(b);
			});
		}

	</script>
	</head>

<body>
<div id="wrapper">
	{% include "lyv/header.html" %}

	<section id="two" class="wrapper style2 special">
		<div class="container 50%">
		<h1>Notifications</h1>
		<div class="row uniform">
			<div class="12u$">
				<ul style="list-style: none;">
					{% for notif in notifications %}
					<li style="border: 2px solid black; padding: 10px;">
					{% if notif.type == 'r' %}
					<a href="/profile/{{notif.other_user.id}}"><img style="width: 10%; float: left" src= "{{notif.other_user.profile_pic_url}}"/></a>
					<a href="/profile/{{notif.other_user.id}}">{{ notif.other_user.user.first_name }} {{ notif.other_user.user.last_name }}</a> requested <a href="/book/{{notif.book}}">{{notif.book.orig_book.name}}</a>.
					<br/>
					<button class="button small" onclick="blabla({{notif.id}});">Accept</button>
					<button class="button special small" onclick="onclickdecline({{notif.id}});">Decline</button>
					{% endif %}
					{% if notif.type == 'a' %}
					<a href="/profile/{{notif.other_user.id}}"><img style="width: 10%; float: left" src= "{{notif.other_user.profile_pic_url}}"/></a>
					<a href="/profile/{{notif.other_user.id}}">{{ notif.other_user.user.first_name }} {{ notif.other_user.user.last_name }}</a> accepted your request for lending <a href="/book/{{notif.book}}">{{notif.book.orig_book.name}}</a><br/>{{notif.desc}}.<br/>Please generate an OTP and tell it to the lender for completing the transaction.
					<br/>
					<button class="button small" id="OTP" onclick="generateOTP({{notif.id}});">Generate OTP</button>
					{% endif %}
					{% if notif.type == 'o' %}
					<a href="/profile/{{notif.other_user.id}}"><img style="width: 10%; float: left" src= "{{notif.other_user.profile_pic_url}}"/></a>
					<a href="/profile/{{notif.other_user.id}}">{{ notif.other_user.user.first_name }} {{ notif.other_user.user.last_name }}</a> has generated an OTP. Please enter that OTP to complete the transaction. <a href="/book/{{notif.book}}">{{notif.book.orig_book.name}}</a>.<br/>
					<input placeholder="OTP" id="inputOTP"></input> <button class="button small" id="confirmOTP" onclick="confirmOTP({{notif.id}},{{notif.desc}});">Confirm</button>
					{% endif %}
					{% if notif.type == 'd' %}
					<a href="/profile/{{notif.other_user.id}}"><img style="width: 10%; float: left" src= "{{notif.other_user.profile_pic_url}}"/></a>
					<a href="/profile/{{notif.other_user.id}}">{{ notif.other_user.user.first_name }} {{ notif.other_user.user.last_name }}</a> declined your request for lending <a href="/book/{{notif.book}}">{{notif.book.orig_book.name}}</a>.
					{% endif %}
					<br/>
					</li>
					<br/>
					{% endfor %}
				</ul>
			</div>
		</div>

	</section>

</div>
	{% include "lyv/footer.html" %}

	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Send a message to the borrower</h4>
	      </div>
	      <div class="modal-body">
	        <span>Enter your contact number<span style="color: red;">*</span> - </span>
	        <input type="number" id="phno"> <br/>
	        <span>Enter a message<span style="color: red;">*</span> - </span>
	        <textarea id="message" style="border:solid 1px black;"></textarea>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" onclick="getMessage();">Send</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>

	  </div>
	</div>

</body>
</html>